<div class="large-container center-block">

<h1>Articulos de la comunidad</h1>



<!--
le pasamos el nombre de la coleccion, es decir el nombre del arreglo de objetos, en este caso es @articles 
de esta manera rails sabe que tiene que mostrar todos los objetos de esta coleccion
-->

<%=render @articles%><!--
mostramos el parcial _article (busca un parial con el mismo nombre de la coleccion/modelo/tabla)

es un render de una coleccion/tabla/modelo completo
-->
</div>