<div class="small-container center-block">
    <div class="card padding margin-top">
        
        <h1>Nueva Categoria</h1>

        <%= render 'form', category: @category %>

        <br/>
        <%= link_to 'Volver', categories_path %>
    </div>
</div>
