<div class="large-container center-block">
    <div class="card padding margin-top">
        <h1>Articulos publicados en <%= @category.title %></h1>
        <%=render @category.articles%>
    </div>
</div>
